<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductsMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Products">
    <id column="PRID" jdbcType="DECIMAL" property="prid" />
    <result column="CAID" jdbcType="DECIMAL" property="caid" />
    <result column="PRNAME" jdbcType="VARCHAR" property="prname" />
    <result column="PRSUBTITLE" jdbcType="VARCHAR" property="prsubtitle" />
    <result column="PRMAINIMAGE" jdbcType="VARCHAR" property="prmainimage" />
    <result column="PRSUBIMAGE" jdbcType="VARCHAR" property="prsubimage" />
    <result column="PRPRICE" jdbcType="DECIMAL" property="prprice" />
    <result column="PRSTOCK" jdbcType="DECIMAL" property="prstock" />
    <result column="PRSTATE" jdbcType="CHAR" property="prstate" />
    <result column="PRCREATETIME" jdbcType="TIMESTAMP" property="prcreatetime" />
    <result column="PRUPDTIME" jdbcType="TIMESTAMP" property="prupdtime" />
    <result column="PRDETAIL" jdbcType="CLOB" property="prdetail" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PRODUCTS
    where PRID = #{prid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.pojo.Products">
    insert into PRODUCTS (PRID, CAID, PRNAME, 
      PRSUBTITLE, PRMAINIMAGE, PRSUBIMAGE, 
      PRPRICE, PRSTOCK, PRSTATE, 
      PRCREATETIME, PRUPDTIME, PRDETAIL
      )
    values (#{prid,jdbcType=DECIMAL}, #{caid,jdbcType=DECIMAL}, #{prname,jdbcType=VARCHAR}, 
      #{prsubtitle,jdbcType=VARCHAR}, #{prmainimage,jdbcType=VARCHAR}, #{prsubimage,jdbcType=VARCHAR}, 
      #{prprice,jdbcType=DECIMAL}, #{prstock,jdbcType=DECIMAL}, #{prstate,jdbcType=CHAR}, 
      #{prcreatetime,jdbcType=TIMESTAMP}, #{prupdtime,jdbcType=TIMESTAMP}, #{prdetail,jdbcType=CLOB}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Products">
    update PRODUCTS
    set CAID = #{caid,jdbcType=DECIMAL},
      PRNAME = #{prname,jdbcType=VARCHAR},
      PRSUBTITLE = #{prsubtitle,jdbcType=VARCHAR},
      PRMAINIMAGE = #{prmainimage,jdbcType=VARCHAR},
      PRSUBIMAGE = #{prsubimage,jdbcType=VARCHAR},
      PRPRICE = #{prprice,jdbcType=DECIMAL},
      PRSTOCK = #{prstock,jdbcType=DECIMAL},
      PRSTATE = #{prstate,jdbcType=CHAR},
      PRCREATETIME = #{prcreatetime,jdbcType=TIMESTAMP},
      PRUPDTIME = #{prupdtime,jdbcType=TIMESTAMP},
      PRDETAIL = #{prdetail,jdbcType=CLOB}
    where PRID = #{prid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select PRID, CAID, PRNAME, PRSUBTITLE, PRMAINIMAGE, PRSUBIMAGE, PRPRICE, PRSTOCK, 
    PRSTATE, PRCREATETIME, PRUPDTIME, PRDETAIL
    from PRODUCTS
    where PRID = #{prid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PRID, CAID, PRNAME, PRSUBTITLE, PRMAINIMAGE, PRSUBIMAGE, PRPRICE, PRSTOCK, 
    PRSTATE, PRCREATETIME, PRUPDTIME, PRDETAIL
    from PRODUCTS
  </select>
</mapper>