<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SendMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Send">
    <id column="SEID" jdbcType="DECIMAL" property="seid" />
    <result column="USID" jdbcType="DECIMAL" property="usid" />
    <result column="SENAME" jdbcType="VARCHAR" property="sename" />
    <result column="SEPHONE" jdbcType="VARCHAR" property="sephone" />
    <result column="SEPROVINCE" jdbcType="VARCHAR" property="seprovince" />
    <result column="SECITY" jdbcType="VARCHAR" property="secity" />
    <result column="SEDISTRICT" jdbcType="VARCHAR" property="sedistrict" />
    <result column="SEADRESS" jdbcType="VARCHAR" property="seadress" />
    <result column="SEZIP" jdbcType="VARCHAR" property="sezip" />
    <result column="SECREATETIME" jdbcType="TIMESTAMP" property="secreatetime" />
    <result column="SEUPDTIME" jdbcType="TIMESTAMP" property="seupdtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SEND
    where SEID = #{seid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.pojo.Send">
    insert into SEND (SEID, USID, SENAME, 
      SEPHONE, SEPROVINCE, SECITY, 
      SEDISTRICT, SEADRESS, SEZIP, 
      SECREATETIME, SEUPDTIME)
    values (seq_send.nextval, #{usid,jdbcType=DECIMAL}, #{sename,jdbcType=VARCHAR}, 
      #{sephone,jdbcType=VARCHAR}, #{seprovince,jdbcType=VARCHAR}, #{secity,jdbcType=VARCHAR}, 
      #{sedistrict,jdbcType=VARCHAR}, #{seadress,jdbcType=VARCHAR}, #{sezip,jdbcType=VARCHAR}, 
      #{secreatetime,jdbcType=TIMESTAMP}, #{seupdtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Send">
    update SEND
    set USID = #{usid,jdbcType=DECIMAL},
      SENAME = #{sename,jdbcType=VARCHAR},
      SEPHONE = #{sephone,jdbcType=VARCHAR},
      SEPROVINCE = #{seprovince,jdbcType=VARCHAR},
      SECITY = #{secity,jdbcType=VARCHAR},
      SEDISTRICT = #{sedistrict,jdbcType=VARCHAR},
      SEADRESS = #{seadress,jdbcType=VARCHAR},
      SEZIP = #{sezip,jdbcType=VARCHAR},
      SECREATETIME = #{secreatetime,jdbcType=TIMESTAMP},
      SEUPDTIME = #{seupdtime,jdbcType=TIMESTAMP}
    where SEID = #{seid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select SEID, USID, SENAME, SEPHONE, SEPROVINCE, SECITY, SEDISTRICT, SEADRESS, SEZIP, 
    SECREATETIME, SEUPDTIME
    from SEND
    where SEID = #{seid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select SEID, USID, SENAME, SEPHONE, SEPROVINCE, SECITY, SEDISTRICT, SEADRESS, SEZIP, 
    SECREATETIME, SEUPDTIME
    from SEND
  </select>
    <select id="selectByUsid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select SEID, USID, SENAME, SEPHONE, SEPROVINCE, SECITY, SEDISTRICT, SEADRESS, SEZIP, 
    SECREATETIME, SEUPDTIME
    from SEND where usid=#{usid}
  </select>
</mapper>